body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 1800px;
    min-width: 1000px;
    background-color: rgb(227, 230, 230);
}
