.header1 {
    background-color: rgb(18, 25, 33);
    height: 60px;
    color: white;
    display: flex;
    font-family: inherit;
    margin: 0px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.left-header1 {
    width: 352.672px;
    display: grid;
    grid-template-columns: 145px 243px;
    margin-right: 17px;
} 
.amazon-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}  
.amazon-logo{
    height: 44px;
    width: 126px;
    cursor: pointer;
}
.location-container{
    display: flex; 
    cursor: pointer;
}
.location-logo{
    height: 24px;
    padding-top: 25px;
}
.delivery-pin{
   padding-top: 15px; 
   font-size: 12px;
   color: rgb(204, 204, 204);
}
.update-location{
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.middle-header1 {
    flex: 1;
    margin: 0 20px;
    display: grid;
    grid-template-columns: 52px 1fr 52px;
    align-items: center;
    justify-content: center;
}
.all-search-button{
    color: rgb(15, 17, 17) ;
    background-color: rgb(230, 230, 230);
    height: 40px;
    width: 52px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 11px;
    border-width: 0px;
    cursor: pointer;
}
.all-search-button:hover{
    background-color:rgb(211, 206, 206) ;
}
.search-textbox{
    height: 38px;
    font-size: 14px;
    width: 100%;
    border-width: 0px;
}
.search-icon-container{
    border: none;
    padding: 0px;
    height: 40px;
    width: 45px;
    background-color: rgb(254, 189, 107);
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    opacity: 1;
} 
.search-icon-container:hover{
    background-color:rgb(226, 166, 91) ;
} 
.search-icon-container:active{
    opacity: 0.7;
}    
.search-icon{
    height: 20px;
    width: 22.5px;
}


.right-header1 {
    width: 401px;
    display: flex;
    flex-shrink: 0; 
    align-items: center;
    justify-content: space-between;
}
.flag-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
}
.flag-logo{
    height: 22px; 
    width: 20px;
    padding-top: 3px;
}
.language{
    height: 16px;
    width: 25px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.downarrow1{
    height: 21px;
    font-size: 10px;
    width: 10px;
    color: rgb(160, 149, 149);
    display: flex;
    align-items: end;
}
.account-list-container{
    height: 50px;
    padding-top: 8px;
    padding-left: 8px;
}
.hellos{
    font-size: 12px;
    height: 14px;
    cursor: pointer;
}
.accadnarrow-container{
    display: flex;
    cursor: pointer;
}
.acc-list{
    font-size: 14px;
    height: 15px;
    font-weight: bold;
}
.downarrow2{
    height: 15px;
    font-size: 8px;
    width: 10px;
    padding-top: 5px;
    color: rgb(160, 149, 149);
    display: flex;
    justify-content: center;
    margin-left: 3px;
}
.return-order-container{
    background-color: rgb(18, 25, 33);
    cursor: pointer;
    height: 50px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.addtocart-container{
    display: flex;
    align-items: end;
    cursor: pointer;
    height: 50px;
    align-items: center;
    margin-right: 6px;
}
.addtocart-logo{
    height: 35px;
    width: 44px;
}
.item-in-cart{
    position: absolute;
    color: red;
    font-weight: bold;
    padding-left: 22px;
    padding-bottom: 17px;
}
.cartname{
    font-size: 14px;
    height: 15px;
    font-weight: bold;
    margin-right: 15px;
}
.addtocart-container:hover,
.amazon-logo-container:hover,
.return-order-container:hover,
.account-list-container:hover,
.flag-logo-container:hover,
.location-container:hover
{
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
