.header2{
    background-color: rgb(35, 47, 63);
    height: 39px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.commonh2{
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
    padding: 0 9px;
    border: 1px solid transparent;
}
.commonh2:hover{
    border-radius: 2px;
    border-color: white;
    cursor: pointer;
    box-sizing: border-box;
}
.hamburgermenu{
    height: 20px;
    width: 20px;
    margin: 8px;
}
.header2commontextb{
    font-size: 14px;
    font-weight: bold;
}
.header2commontext{
    font-size: 14px;
}
.downarrow3{
    font-size: 10px;
    color: rgb(160, 149, 149);
    margin-left: 4px;
}